# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Clion
.idea/

# ctags
.tags*

# Binaries
ODR_cse533-14
client_cse533-14
server_cse533-14
ODR_cse533-12
client_cse533-12
server_cse533-12
